<!DOCTYPE html>
<html lang="en">

<head>
<title>Economic Air Company</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="container">
		<h2>Gestione Prenotazioni</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Codice Prenotazione</th>
					<th>Codice Volo</th>
					<th>Posto</th>
					<th>Descrizione</th>
					<th>Costo</th>
				</tr>
			</thead>
			<tbody>
				<div th:each="prenotazione_item: ${listaPrenotazioni}">
					<tr>
						<td th:text="${prenotazione_item.getCodice()}"></td>
						<td th:text="${prenotazione_item.getVolo()} ? ${prenotazione_item.getVolo().getId()} : ''" />
						<td th:text="${prenotazione_item.getCodicePosto()}"></td>
						<td th:text="${prenotazione_item.getDescrizione()}"></td>
						<td th:text="${prenotazione_item.getCostoBiglietto()}"></td>
					</tr>

				</div>

			</tbody>
		</table>
	</div>

</body>

</html>